.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-footer{
  background-color: var(--orange);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.presentation{
  background-color: var(--orange);
  
  background-image: url("static/imgs/background_white.png");
  
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
 
}

@font-face {
  font-family: 'klavika';
  src: local('klavika'), url(./static/fonts/klavika/KlavikaRegular-TF.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'klavika';
    src: local('klavika'), url(./static/fonts/klavika/KlavikaBoldBold.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./static/fonts/Montserrat/MontserratAlternates-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./static/fonts/Montserrat/MontserratAlternates-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opificio';
  src: local('opificio'), url(./static/fonts/opificio/Opificio_regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opificio';
  src: local('opificio'), url(./static/fonts/opificio/Opificio_Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}



