.govt-logo{
    
    position: absolute;
    display: inline-block;
    font-size: 1.9rem;
    color: var(--fonts);
    width: max-content;
    margin-top: 0.5%;
    margin-left: 5.7%;
    
}

.govt-icon{
    
    position: absolute;
    display: inline-block;
    width: 2.5%;
    margin-left: 2.8%;
    height: 100%;    
}

.separator{
    position: absolute;
    display: inline-block;
    margin-left: 6%;
    margin-top: 0.5%;
    width: 0px;
    height: 70%; 

    border-color: white;

}

.govt-sections{
    padding-top: 0.3%;
}

.govt-orange{
    color: var(--orange);
}

.govt-grey{
    color: var(--grey);
}

.nav-heigth{
    height: 5.3rem;    
}

.govt-background-color{
    background-color: var(--white);
    
}

.navbar-shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* FONTS */
.klavika-font{
    font-family: var(--main_font);
}

.montserrat-font{
    font-family: var(--third_font);
}

.roof{
    width: 50%;
}

.opificio-font{
    font-family: var(--second_font);
}

.section-border{
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-bottom-color: #eeeeee;
}

.width-max{
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
}

.section-title{
    font-family: var(--main_font);
    padding-top: 1%;
    border-bottom-style: solid;
    border-color: var(--orange);
    color: var(--grey);
    width: max-content;
    margin: 0 auto;
    margin-bottom: 4%;

}

.member-photo{
    width: 60%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;

}

.no-margin{
    margin-top: 0;
    margin-bottom: 0;
}

.analytics-span{
    background-color: var(--orange);
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-weight: bold;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;

}

.bold{
    font-weight: bold;
}

.font-size-4{
    font-size: 3.3rem;
}

.font-size-8{
    font-size: 8rem;
}

.font-size-2{
    font-size: 1.3rem;
}

.presentation-label{
    padding-top: 29%;
    padding-bottom: 29%;   
    line-height: 1;

}

.justify-align{
    text-align: justify;
    text-justify: inter-word;
}

.service-card{
    padding-left: 1.2rem !important; 
    padding-right: 1.2rem !important;

}
