.govt-logo{
    
    position: relative;
    display: inline-block;
    padding-top: 0.24%;
    padding-left: 5%;
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--fonts);
    width: max-content;
}

.govt-sections{
    position: relative;
    display: inline-block;
    padding-top: 0.24%;
}

.nav-heigth{
    height: 5.3rem;    
}

.govt-background-color{
    background-color: var(--main);
    
}

.navbar-shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.section-border{
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-bottom-color: #eeeeee;
}

.section-title{
    padding-top: 1%;
    border-bottom-style: solid;
    width: max-content;

}

.member-photo{
    width: 60%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;

}

.no-margin{
    margin-top: 0;
    margin-bottom: 0;
}

.font-size-5{
    font-size: 5rem;
}

.font-size-2{
    font-size: 1.3rem;
}

.presentation-label{
    padding-top: 30%;
    padding-bottom: 30%;   

}

.justify-align{
    text-align: justify;
    text-justify: inter-word;
}

.service-card{
    padding-left: 1.2rem !important; 
    padding-right: 1.2rem !important;

}
